<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="boardMapper">
	<resultMap type="Board" id="boardResultSet">
		<result column="board_no" property="boardNo"/>
		<result column="board_title" property="boardTitle"/>
		<result column="board_content" property="boardContent"/>
		<result column="board_writer" property="boardWriter"/>
		<result column="count" property="count"/>
		<result column="create_date" property="createDate"/>
	</resultMap>
	
	<resultMap type="Reply" id="replyResultSet">
		<result column="reply_no" property="replyNo"/>
		<result column="reply_writer" property="replyWriter"/>
		<result column="reply_content" property="replyContent"/>
		<result column="create_date" property="createDate"/>
	</resultMap>
	
	<select id="selectTotalRecord" resultType="_int">
		select count(*)
		  from board
		 where status = 'Y' 
	</select>
	
	<select id="selectList" resultMap="boardResultSet" >
		select *
		  from board
		 where status = 'Y'
		 order by board_no desc 
	</select>
	
	<update id="increaseCount">
		update board
		   set count = count + 1
		 where board_no = #{boardNo}
		   and status = 'Y'  
	</update>
	
	<select id="selectBoard" resultMap="boardResultSet">
		select *
		  from board
		 where board_no = #{boardNo} 
	       and status = 'Y'
	</select>
	
	<select id="selectReplyList" resultMap="replyResultSet">
		select *
		  from reply
		 where ref_bno = #{boardNo}
		   and status = 'Y'
		 order by reply_no desc 
	</select>
	
	<select id="selectSearchCount" resultType="_int">
		select count(*)
		  from board
		 where status = 'Y'
		 <if test="keyField == 'writer'">
		   and board_writer 
		 </if>
		 <if test="keyField == 'title'">
		   and board_title 
		 </if>
		 <if test="keyField == 'content'">
		   and board_content 
		 </if>
		 like '%' || #{keyword} || '%'
	</select>
	
	<select id="selectSearchList" resultMap="boardResultSet">
		select *
		  from board
		 where status = 'Y'
		 <choose>
		 	<when test="keyField == 'writer'">
		 		and board_writer
		 	</when>
		 	<when test="keyField == 'title'">
		 		and board_title
		 	</when>
		 	<otherwise>
		 		and board_content
		 	</otherwise>
		 </choose>
		 like '%' || #{keyword} || '%'
		 order by board_no desc
	</select>
	
	<insert id="insertReply" >
	 	insert into reply values(seq_rno.nextval, #{replyContent}, #{refBno}, #{replyWriter}, default, default)
	</insert>
</mapper>