<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="memberMapper">
	<!-- namespace : 해당 mapper파일의 고유한 별칭  -->
	<!-- 
		* DML문일 경우
		<insert|update|delete id="식별자">
		 => 실행결과는 int(0|1)이기 때문에 resultType 또는 resultMap에 대한 속성은 쓰지 않아도 된다
		 
		* select문일 경우
		<select id="식별자">
			resultType="조회결과를 반환하고자하는 자바타입" | resultMap="조회결과를 뽑아서 매핑할 resultMap의 id"
		</select>
	 -->
	 
	 <!-- 
	 * resultMap 마이바티스의 핵심 기능 중 하나
	   ResultSet으로부터 조회된 컬럼값을 하나씩 뽑아서 내가 지정한 bean객체에 담는 역할
	   <resultMap id="식별자" type="조회결과를 담아서 반환하고자하는 bean객체의 타입(풀클래스명|별칭)">
	   		<result column = "DB의 컬럼명" property = "bean객체의 필드명" />
	   		<result column = "DB의 컬럼명" property = "bean객체의 필드명" />
	   		<result column = "DB의 컬럼명" property = "bean객체의 필드명" />
	   		...
	   </resultMap>
	  -->
	  <resultMap id="memberResultSet" type="Member">
	  		<result column="user_id" property="userId" />
	  		<result column="USER_PWD" property="userPwd" />
	  		<result column="user_name" property="userName" />
	  		<result column="email" property="email" />
	  		<result column="birtyday" property="birtyday" />
	  		<result column="gender" property="gender" />
	  		<result column="phone" property="phone" />
	  		<result column="address" property="address" />
	  		<result column="enroll_date" property="enrollDate" />
	  		<result column="modify_date" property="modifyDate" />
	  		<result column="status" property="status" />
	  </resultMap>
	 
	 <select id="checkId" resultType = "_int">
	 	select count(*)
	 	  from member
	 	 where user_id = #{userId}  
	 </select>
	 
	 <insert id="insertMember">
	 	insert into member(user_id, user_pwd, user_name, email, birthday, gender, phone, address)
	 	            values(#{userId}, #{userPwd}, #{userName}, #{email}, #{birthday}, #{gender}, #{phone}, #{address})
	 </insert>
	 
	 <select id="loginMember" resultMap = "memberResultSet">
	 	select *
	 	  from member
	 	 where user_id = #{userId} and user_pwd = #{userPwd} and status = 'Y' 
	 </select>
</mapper>  


